/* Selector Universal*/

*{
    padding: 0 auto;
    margin: 0 auto;
}

/* Selector Id */

#contenedor{
width: 1200px;
height: 1000px;
background-color: rgb(246, 242, 175);
max-width: 0 auto;
}

#encabezado{
    height: 10%;
    background-color: #79bca7;
    margin: 1em auto;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

#menu{
    height: 5%;
    background-color: #79bca7;
    margin: 1em auto;
    font-weight: bold;
    font-size: x-large;
}

#seccion{
    width: 45%;
    height: 75%;
    background-color: #FFFFFF;
    margin: 0.5em ;
    float: left;
}

#fueraSeccion{
    width: 45%;
    height: 50%;
    background-color: rgb(246, 242, 175);
    margin: 0.5em;
    float: right;
}

#pie{
    height: 8%;
    background-color: rgb(189, 64, 42);
    border-radius: 1em;
    margin: 1.5em;
}

/* Selector de clase */
.texto{
    text-align: justify;
    font-family: Arial;
    font-size: medium;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

.encabezado_articulo1{
    text-align: center;
    margin-top: 30px;
    background: rgb(144, 6, 154);
    color: rgb(57, 26, 3);
    margin: auto 2em;
}

.encabezado_articulo2{
    text-align: center;
    margin-top: 30px;
    background: rgb(199, 12, 12);
    color: white;
    margin: auto 2em;
}

.imagenes{
    display: block;
    border: 1px solid #ddd;
    /*margin-left: 4%;*/
    margin: center;
    width: 200px;
}

.bloque{
    display: block; /*Convierte la lista vertical*/
    margin-bottom: 100px;
    font-weight: bold;
    font-size: x-large;
    background-size: cover;
}

.bloque1{
    font-weight: bold;
    font-size: x-large;
}

.bloque:last-child{
    margin-bottom: 0;
}


/* Selector de etiqueta */

ul {
    text-align: center;
}

li {
    display: inline;
    padding-left: 80px;
    padding-right: 80px;
}